<% include header %>

<script src="/socket.io/socket.io.js"></script>

<div class="row">
  <div class="span12">
    <% include navbar %>
    <div class="row">
      <div class="span3">
        <div class="small-box">
          <h3>About Me</h3>
          <span class="identifier">Name: </span><%= name %><br>
          <span class="identifier">Email: </span><%= email %><br>
        </div><br />
        <div class="small-box">
          <h3>Trends</h3><br>
        </div><br />
        <div class="small-box">
          <h3>People to Follow</h3><br>
        </div><br />
      </div>
      <div class="span9">
     
        <div class="control-group">
          <label for="chirp" class="control-label">Chirp Something:</label>
          <div class="controls">
            <input type="text" name="chirp" id="chirp_box">
          </div>
        </div>
      
        <div class="control-group">
          <div class="controls">
            <input type="button" value="Submit" class="btn btn-primary" id="chirp_submit_btn">
          </div>
        </div>

        <div id="chirp_view">
          <h3>Chirps</h3>
          <% for(var i = 0; i < chirps.length; i++) { %>
            <br /><span><span class="identifier"><%= name %></span> @<%= username %></span>
            <div class="chirper">
              <p><%= chirps[i].data %></p>
            </div>
          <% } %>
        </div>
       
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var socket = io.connect('http://localhost');

  $("#chirp_submit_btn").click(function() {
    var chirpData = $("#chirp_box").val();
    var d = new Date();

    socket.emit('chirp', { chirp: chirpData, timestamp: d.getTime(), userid: <%= userid %> });
  });

  function generateChirp(chirp) {
    html = "<br /><span><span class=\"identifier\">" + "<%= name %>" + "</span> @"; 
    html += "<%= username %>" + "</span>";
    html += "<div class=\"chirper\">";
    html += "<p>" + chirp + "</p>";
    html += "</div>";

    return html;
  }

  function addChirpToView(chirp) {
    var chirpView = $("#chirp_view");

    chirpView.append(generateChirp(chirp));
  }

    socket.on('updateView', function (data) {
      addChirpToView(data["chirp"]);
  });
</script>

<% include footer %>