<% include header %>

<div class="row">
  <div class="span12">
    <% include navbar %>
    <div class="row">
      <div class="span3">
        <div class="small-box">
          <span class="badge badge-important"><%= nchirps %></span><a href="#"> Chirps</a><br>
          <span class="badge badge-important"><%= following %></span><a href="#"> Following</a><br>
          <span class="badge badge-important"><%= followers %></span><a href="#"> Followers</a><br>
        </div><br />
        <div class="small-box">
          <h3>Who to Follow</h3><br>
        </div><br />
        <div class="small-box">
          <h3>Trends</h3><br>
        </div>
      </div>
      <div class="span9">
       
        <h3>Chirps</h3>
        <div id="chirp_view">
          <% for(var i = 0; i < chirpdata.length; i++) { %>
            <br /><span><span class="identifier"><%= user %></span> <a href="/<%= username %>">@<%= username %></a></span>
            <div class="chirper">
              <p><%= chirpdata[i].data %></p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

<% include footer %>