<% include header %>

<div class="row">
  <div class="span12">
    <% include navbar %>
    <div class="row">
      <div class="span3">
        <div class="small-box shadow">
          <ul class="nav nav-pills nav-stacked">
            <% if(user != undefined && user != nameOfSearchedUser) { %>
              <% if(isfollowing == true) { %>
                <li><a href="/follow/<%= u %>" >Stop Following</a></li>
              <% } %>
              <% if(isfollowing == false) { %>
                <li><a href="/follow/<%= u %>" >Start Following</a></li>
              <% } %>
            <% } %>
            <li><span class="badge badge-important pill-badge"><%= nchirps %></span><a href="#"> Chirps</a></li>
            <li><span class="badge badge-important pill-badge"><%= numfollowing %></span>
              <% if (followees.length > 0) { %>
                <a href="#followeesModal" role="button" data-toggle="modal">Following</a>
              <% } else { %>
                <a href="#">Following</a>
              <% } %>
            </li>
            <li><span class="badge badge-important pill-badge"><%= numfollowers %></span>
              <% if (followers.length > 0) { %>
                <a href="#followersModal" role="button" data-toggle="modal">Followers</a>
              <% } else { %>
                <a href="#">Followers</a>
              <% } %>
            </li>
          </ul>
        </div><br />
        
        <div class="small-box">
          <h3>Who to Follow</h3><br>
        </div><br />
        <div class="small-box">
          <h3>Trends</h3><br>
        </div><br />
      </div>
      <div class="span9">

        <h3><%= nameOfSearchedUser %>'s Chirps</h3>
        <div id="chirp_view">
          <% for(var i = 0; i < chirpdata.length; i++) { %>
            <br /><span><span class="identifier"><%= nameOfSearchedUser %></span> <a href="/<%= u %>">@<%= u %></a></span>
            <div class="chirper">
              <p><%= chirpdata[i].data %></p>
            </div>
          <% } %>
        </div>
       
      </div>
    </div>
  </div>
</div>

<div id="followeesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">People <%= nameOfSearchedUser %> Is Following</h3>
  </div>
  <div class="modal-body">
    <% for(var i=0; i<followees.length; i++) { %>
        <p><a href="/<%= followees[i].username %>"><%= followees[i].name %></a></p>
        <% } %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="followersModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">People Who Are Following <%= nameOfSearchedUser %></h3>
  </div>
  <div class="modal-body">
    <% for(var i=0; i<followers.length; i++) { %>
        <p><a href="/<%= followers[i].username %>"><%= followers[i].name %></a></p>
        <% } %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>